{% extends 'base.html.twig' %}

{% block title %}Hello Product!{% endblock %}

{% block body %}

<div class="container">

    {{ form_start(form) }}

    {{ form_row(form._token) }}

    {{ form_label(form.name,'Nom produit') }}
    {{ form_widget(form.name,{'attr':{'maxlength':'50'}}) }}

    {{ form_label(form.price,'Prix produit') }}
    {{ form_widget(form.price)}}

    <div hidden >
        {{ form_label(form.slug,'Slug') }}
        {{ form_widget(form.slug) }}
    </div>

    {{ form_label(form.img,'Image') }}
    {{ form_widget(form.img,{'attr':{'maxlength':'255'}}) }}

    {{ form_label(form.category,'Catégorie') }}
    {{ form_widget(form.category)}}

    {{ form_label(form.save,'Mettre à jour le produit') }}
    {{ form_widget(form.save) }}

    {{ form_end(form, {'render_rest': false}) }}
    
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let fichierRecto = document.querySelector('#product_form_img')
        let labelRecto = fichierRecto.nextElementSibling

        fichierRecto.addEventListener('change', function (e) {
            const fileName = fichierRecto.value;
            labelRecto.innerHTML = fileName;
        })
    });
</script>
{% endblock %}